*{
    margin: 0px;
    padding: 0px;
    font-family: 楷体;

}
body{
    background-color: #cccccc;
}
.nag{
    background-color: #333333;
    height: 50px;


}
.nag ul {
    list-style: none;


    position: absolute;
    top:20px;
    right: 0px;
}
.nag ul li{
    float: left;
    margin: 10px;
}
.nag ul li a{
    color: white;
    text-decoration:none;

}
.box1{
    height:80%;
    margin: 20px 400px 20px 20px;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 3px 3px 5px #888888;
    padding: 20px;

}
.box2{
     height:80%;
     margin: 20px 400px 20px 20px;
     background-color: white;
     border: 1px solid #cccccc;
     box-shadow: 3px 3px 5px #888888;
    padding: 20px;

 }
.box3{
    height:80%;
    margin: 20px 400px 20px 20px;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 3px 3px 5px #888888;
    overflow: hidden;
    padding: 20px;
}
.box4{
    height:80%;
    margin: 20px 400px 20px 20px;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 3px 3px 5px #888888;
    padding: 20px;
}
.box5{
    height:80%;
    margin: 20px 400px 20px 20px;
    background-color: white;
    border: 1px solid #cccccc;
    box-shadow: 3px 3px 5px #888888;
    padding: 20px;
}
.rightbox{
    background-color: white;
    width: 320px;
    height: 500px;
    margin: 20px;
    float: right;
    border: 1px solid #cccccc;
    box-shadow: 3px 3px 5px #888888;
    text-align: center;
    padding: 20px;
}
.box3 pre{
    overflow: auto;
}
.box3 pre div{


    text-align: center;
    margin: 20px;
    float: left;

}
.box3 pre div img{
    margin-left: 20px;
}
.table{
    text-align: left;

    height: 100px;
    width: 95%;
    margin: 20px;
}
.tablehead{
    background-color: #333333;
    color: #eeeeee;
}
.tablefoot{
    font-family: 黑体;
    background-color: #cccccc;

}