*{
    padding: 0px;
    margin: 0px;
}

.container{
    padding: 20px;
    background-color: #eee;
    border: 1px solid #999;
    height: auto;
    margin: 20px;
    overflow: auto;



}
.left{
    padding: 20px;
    width: 160px;
    height: 80px;
    background-color: white;
    float: left;


}
.right{
    padding: 20px;
    width: 80px;
    height: 420px;
    float: right;
    background-color: white;



}
.center{
    padding: 20px;
    height: 400px;
    margin: 0 180px;
    position: relative;
    left: 40px;

    background-color: white;





}
.logo{

    width: 80px;
    height: 80px;
    background-color: #eee;
}
.personlogo{
    background-color: #eee;
    width: 80px;
    height: 80px;
    margin: 0 0 5px 0;
}